#score{
    text-align: center;
    font-size: 50px;
}
#game{
    width: 90%;
    height: 80vh;
    border: 2px ridge #000000;
    margin: auto;
    background-image: url(../img/decor.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#pug{
    height: 150px;
    width: 150px;
    position: relative;
    top: 320px;
    background-image: url(../img/pug-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#roc{
    height: 100px;
    width: 80px;
    position: relative;
    top: 245px;
    left: 94%;
    background-image: url(../img/poop-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: roc 1.50s infinite;
}
@keyframes roc {
    0% { left: 94%;}
    100%{left: -10%;}
    
}

.jump-pug{
    animation: jump 0.5s;
}
@keyframes jump {
    0%{top: 320px}
    50%{top: 100px}
    74%{top: 100px}
    100%{top: 320px}
}
